.table-responsive{
  overflow:scroll;
  max-height: 80vh;
}
/*@media screen and (min-width: 356px) {*/
/*  .table-responsive{*/
/*    max-height: 76.2vh;*/
/*  }*/
/*}*/
/*@media screen and (min-width: 528px) {*/
/*  .table-responsive{*/
/*    max-height: 80.4vh;*/
/*  }*/
/*}*/
/*@media screen and (min-width: 768px) {*/
/*  .table-responsive{*/
/*    max-height: 77.5vh;*/
/*  }*/
/*}*/
  thead tr:nth-child(1) th{
    background: #343a40;
    position: sticky;
    top: 0;
    z-index: 3;
  }
  thead tr:nth-child(1) th:first-child
  {
    background: #343a40;
    position:sticky;
    left: 0;
    z-index: 4;
  }
  td:first-child
  {
    background: #343a40;
    position:sticky;
    left: 0;
    z-index: 3;
  }